@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* widget grid container */
.widgetGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 780px) {
  .widgetGridContainer {
    grid-template-columns: repeat(2, 1fr);
    ;
    grid-template-rows: repeat(2, auto);
  }
}

/* widget grid element */